<div class="panel panel-default">
<div class="panel-heading"><h2 style="color:indianred;text-align:center;">Edit</h2></div>
<div class="panel-body">

<%= render 'form', pin: @pin %>
<br>

<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
